<html>
<head>
    <style>
        body{
            background:linear-gradient(to bottom,teal 50%, #fff 50%);
            color:teal;
            padding:20px 150px 20px 150px;
        }
        #table{
            width:100%;
            text-align: center;
            position: relative;
            margin:auto;
            top:0;
            bottom:0;
            left:0;
            right:0;
            padding:0px;
        }
        table td{
            padding:20px;
        }
        
        .div1{
            background-color: #fff;
            padding:10px;
            border-radius: 20px;
            box-shadow: 0px 0px 15px 2px teal;
            transition: 0.5s;
            font-size: 25px;
            font-style: italic;
        }
        .div1:hover{
            transform:scale(0.9);
            box-shadow:0px 0px 5px 7px teal;
            transition: 0.3s;
        }
        .btn{
            padding:5px 15px 5px 15px;
            border-radius: 20px 4px 20px 4px;
            border:none;
            color:white;
        }
        .btn1{
           background-color:#2f5597;
        }
        .btn2{
            background-color:#c55a11;
         }
         .btn3{
            background-color:#00b050;
         }
         .btn4{
            background-color:#7030a0;
         }
       
        
          .header{
              text-align: center;
              font-size:55px;
              color:#fff;
              font-family:cursive;

          }
        
        
    </style>
</head>

<body>
    <table id="table">
        <tr>
            <td colspan="2">
                <div class="header"><i>CATEGORIES</i></div>
            </td>
        
        </tr>
        <tr>
            <td colspan="5">
            </td>
        </tr>
        <tr>
            <td>
                <div class="div1">
                    <img src="https://img.freepik.com/free-photo/healthy-vegetables-wooden-table_1150-38014.jpg?w=2000" height="250" width="350">
                    <a href='/vegetable'><h2><i>Vegetable Seeds</i></h2></a>                  
                   
                    <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                    <img src="https://i.pinimg.com/564x/01/61/61/01616181e0122fa35b97026e8e5979fd.jpg"height="250" width="350">
                    <a href='\fruits'><h2><i>Fruit seeds</i></h2></a>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                    <img src="https://i.pinimg.com/564x/58/67/49/58674936017bfa4d4fb39a92fe5f83ac.jpg"height="250" width="350">
                    <a href='/flower'><h2><i>Flower Seeds</i></h2></a>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                    <img src="https://i.pinimg.com/564x/2d/62/86/2d62868d329402cc53478ee4b7307c03.jpg" height="250" width="350">
                    <a href='\homedecor'><h2><i>Home Decor</i></h2></a>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                    <img src="https://i.pinimg.com/564x/71/93/70/7193701129d8495a1d0dbfb54a79d50e.jpg" height="250" width="300">
                    <a href='/bonsai'><h2><i>Bonsai Plants</i></h2></a>
                <br /><br />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
       
    </table>
</body>

</html>